<div class = "jumbotron">
    <h2>To-Do List</h2>
    <br>
    <h4>Signup and and use for free, It is a simple online task management app. <br> Thanks and Regards </h4>
    <br>
    <%= link_to "Signup", new_user_registration_path, class: "btn btn-danger" %>
    <br>Already have an account? <%= link_to "Log In" , new_user_session_path  %> here!
    <br>

</div>